<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Server.dao.BookMapper">

  	<select id="getBookList" resultType="com.example.Server.model.Book">
  		SELECT * FROM tb_book_info
  	</select>
  
	<insert id="insertBook" parameterType="Map">
		INSERT INTO tb_book_info 
		(
			title, 
			description, 
			price
		)
		VALUES 
		(
			#{title},
			#{description},
			#{price}
		)
	</insert>
	
	<select id="getBookInfo" parameterType="Map" resultType="com.example.Server.model.Book">
  		SELECT * FROM tb_book_info where idx = #{idx}
  	</select>
  	
  	<update id="updateBook" parameterType="Map">
		UPDATE tb_book_info AS A
		SET A.title = #{title},
			A.description = #{description}, 
			A.price = #{price}
		WHERE
			A.idx = #{idx}
	</update>
	
	<delete id="deleteBook" parameterType="Map">
		DELETE FROM tb_book_info AS A
		WHERE
			A.idx = #{idx}
	</delete>
	

</mapper>