.my-spinner {
  /* width: 40px; */
  position: absolute;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 15px;
}

.my-renderer {
  margin-left: 10px;
}

.locked-col {
  background: #ddd;
}

.dzu-inputLabelWithFiles {
  margin-bottom: 20px;
}

.dzu-previewContainer {
  min-height: 120px;
}

.dzu-previewImage {
  max-height: 100px;
  max-width: 200px;
}
